html{
    width: 100%;
    height: 100%;
    background-color: blue;
}
body{
    margin: 0;
    padding: 0;
}

/* Cabecera */
header{
    width: 100%;
    height: 10%;
    background-color: red;
    display: flex;
    justify-content: space-around;
}
header>img{
    width: 70px;
    height: 70px;
}
.container{
    background-color: chartreuse;
    height: 80%;
}
main{
    display: grid;
    grid-template-columns: repeat(4, 320px);
    grid-template-rows: repeat(4, 320px);
    gap: 20px;
}

/* Vista Imágenes Normales */
img{
    width: 300px;
    height: 300px;
}
picture:hover{
    transform: scale(1.1);
}

picture:hover img{
    border: 2px dotted grey;
    box-shadow: 5px 5px 10px black;
}
figcaption{
    text-align: center;
}

/* Vista Imágenes Destacadas*/
.importante{
    grid-column: 1/3;
    grid-row: 1/3;
}
.importante img{
    width: 640px;
    height: 640px;
}


/* Footer */
footer{
    width: 100%;
    height: 10%;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}